venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
*.log

# Ignore all files in these directories but keep the directories
output/*
!output/.gitkeep

static/*
!static/.gitkeep

uploads/*
!uploads/.gitkeep

scripts/*

.env
.env.docker
.env.local
.env.*.local